<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0 font: Arial, sans-serif">
        <tr height="80px">
            <th height="180px" colspan="5">
                 <img src="https://pp.userapi.com/c850428/v850428134/a5134/J2uQ6znRS_0.jpg" alt="" border="0" width="600" height="180" style="display:block;"/>
            </th>
        </tr>

        <tr>
            <td colspan="5">
                <h3 style="font-family: Arial;line-height: 15px;color: black;">Товары:</h3>
            </td>
        </tr>


        <!-- start tovar -->
        <% @orders.each do |order| %>
            <tr>
                <td colspan="5">
                    <h3 style="font-family: Arial; padding-left: 15px">
                        <%= order[:object][:name] %>
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="padding-left: 15px">
                    <% order[:object][:images].first(4).each do |image| %>
                        <img src="<%= @host %><%= image %>" height="100px" width="100px">
                        <p><%= @host %><%= image %></p>
                    <% end %>
                </td> 
            </tr>
            <tr>
                <td colspan="5" style="font-family: Arial;padding-left: 15px; font-size: 14px">
                    <b>Количество:</b> &nbsp;&nbsp;&nbsp; <%= order[:count] %> шт. 
                </td>
            </tr>

            <tr>
                <td colspan="5" style="padding-left: 15px;font-family: Arial; font-size: 14px">
                    <b>Цена:</b> &nbsp;&nbsp;&nbsp; <%= order[:object][:price] %>руб. 
                </td>
            </tr>        

            <tr>
                <td colspan="5" style="padding-left: 15px;font-family: Arial; font-size: 14px">
                    <b>Цена со скидкой:</b> &nbsp;&nbsp;&nbsp; <%= order[:object][:priceSale] %> руб. 
                </td>
            </tr>        

            <tr>
                <td colspan="5" style="padding-left: 15px;font-family: Arial; font-size: 14px">
                    <b>Цвет:</b> &nbsp;&nbsp;&nbsp;
                    <% if order[:object][:activeColor] == "black" %>
                        черный
                    <% end%>
                    <% if order[:object][:activeColor] == "red" %>
                        красный
                    <% end%>
                    <% if order[:object][:activeColor] == "white" %>
                        белый
                    <% end%>
                    <% if order[:object][:activeColor] == "bej" %>
                        бежевый
                    <% end %>
                    <% if order[:object][:activeColor] == "blue" %>
                        голубой/синий
                    <% end %>
                    <% if order[:object][:activeColor] == "purple" %>
                        фиолетовый
                    <% end %>                                                                                                    
                </td>
            </tr> 
            <tr>
                <td colspan="5" style="padding-left: 15px;font-family: Arial; font-size: 14px">
                    <b>Размер:</b> &nbsp;&nbsp;&nbsp; <%= order[:object][:activeSize] %>
                </td>
            </tr> 
        <% end %>
        <!-- end tovar -->
        <tr>
            <td colspan="5" style="font-family: Arial;">
                <h3 style="font-family: Arial;line-height: 15px;color: black;">Данные клиента:</h3>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Фамилия:</b>&nbsp;&nbsp; <%= @order_data[:last_name] %>
            </td>
        </tr>


        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Имя:</b>&nbsp;&nbsp; <%= @order_data[:first_name] %>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Отчество:</b>&nbsp;&nbsp; <%= @order_data[:middle_name] %>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Почтовый индекс:</b>&nbsp;&nbsp; <%= @order_data[:post_index] %>
            </td>
        </tr>  

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Регион, область:</b>&nbsp;&nbsp; <%= @order_data[:region] %>
            </td>
        </tr>   

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Город:</b>&nbsp;&nbsp; <%= @order_data[:city] %>
            </td>
        </tr>                                        
  
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Улица, номер дома:</b>&nbsp;&nbsp; <%= @order_data[:street_data] %>
            </td>
        </tr>  

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Квартира, подьезд:</b>&nbsp;&nbsp; <%= @order_data[:flat_data] %>
            </td>
        </tr>  
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Способ: доставки:</b>&nbsp;&nbsp; <%= @order_data[:delivery_way] %>
            </td>
        </tr>  

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>Телефон:</b>&nbsp;&nbsp; <%= @order_data[:phone] %>
            </td>
        </tr>  

        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td colspan="3" style="font-family: Arial; font-size: 14px; padding-bottom: 8px; text-align: left">
                <b>E-mail:</b>&nbsp;&nbsp; <%= @order_data[:email] %>
            </td>
        </tr>          

        <tr style="height: 20px"></tr>                    

        <tr height="40px">
            <th height="40px" colspan="5">
               <img src="https://pp.userapi.com/c850428/v850428134/a519f/zTALYv0aTAM.jpg" alt="" border="0" width="600" height="39" style="display:block;"/> 
            </th>
        </tr>               
    </table> 
</body>
</html>